/* src/index.css o src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  cursor: pointer;
  background-color: #005a87;
  color: white;
  border: none;
}

button:hover {
  background-color: #003d5b;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li h3 {
  margin: 0 0 10px 0;
  color: #005a87;
}

li p {
  margin: 0;
}
